.projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.projects__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.projects__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.projects__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.projects__item h3 {
    margin: 2rem 0;
}

.projects__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.projects__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
    margin-left: 2rem;
}

.projects__item-content {
    height: 50%;
}

@media screen and (max-width: 1024px){
    .projects__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .projects__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}